---
layout: default
title: Guan's Research Lab
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <object id="home-logo" class="pull-left" data="/images/qguan.png" type="image/png">
    </object>
    <div id="home-title">
	    <font size="5">  <u><em>G</em></u>reen <u><em>U</em></u>biquitous <u><em>A</em></u>utonomous <u><em>N</em></u>etworking <u><em>S</em></u>ystem (<u><em>GUAN's</em></u>) Lab </font>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
	  Guan's Lab
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/publications/">
        Recent Publications
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  {% for publication in site.categories.publications limit:4 %}
    {% assign loopindex = counter | modulo: 2 %}
    {% if loopindex == 1 %}
<div class="row">
    {% endif %}
    {% include pub_box.html pub=publication short=true %}
    {% if loopindex == 0 %}
</div>
    {% endif %}
    {% assign counter = counter | plus: 1 %}
  {% endfor %}
  {% if loopindex == 1 %}
</div>
  {% endif %}
